<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.rexhuang.r_ui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.input.LoginActivity"
            android:exported="true"
            android:theme="@style/MaterialStyle"/>
        <activity android:name=".app.banner.BannerActivity" />
        <activity android:name=".app.refresh.RefreshActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.rexhuang.com"
                    android:pathPrefix="/refresh"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".app.custom.TestActivity" />
        <activity android:name=".app.custom.CustomViewActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.tab.TabBottomDemoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".app.tab.TabTopDemoActivity"
            android:launchMode="singleTask" />
        <activity android:name=".app.recyclerview.RecyclerviewActivity"></activity>
    </application>

</manifest>